[Unit]
Description=SmartFarm Auto Start
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/web/auto_run.py
WorkingDirectory=/home/pi/web
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
